/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-image: url('imagens/imagem\ neutro.jfif'); /* Adicione o caminho para sua imagem de fundo neutra */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o corpo */
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 10px; /* Adicionando margens para preencher o espaço em branco */
}

.header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
    background-image: url('imagens/arcane-card.png'); /* Adicionando imagem de fundo para a área dos links */
    background-size: cover; /* Ajustando o tamanho da imagem de fundo */
    padding: 10px; /* Espaçamento interno */
}

.links a {
    text-decoration: none;
    color: #ff06de; /* Cor do texto */
}

.background-image-2 {
    background-image: url('imagens/transferir.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: #ffffff;
    text-align: justify;
}

.background-image-2 p {
    margin: 0; /* Remover margem padrão do parágrafo */
    color: #fff; /* Definir a cor do texto */
}

.video-section {
    background-color: #f0f0f0;
    padding: 20px;
}

.video-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.video-list {
    display: flex;
    flex-direction: column; /* Altera a direção do fluxo para empilhar os vídeos verticalmente */
    align-items: center; /* Alinha os vídeos ao centro horizontalmente */
}

.video-list iframe {
    margin-bottom: 20px;
    width: 100%; /* Define a largura para ocupar todo o espaço disponível */
    max-width: 300px; /* Define a largura máxima para evitar distorções */
    height: auto; /* Mantém a proporção da altura */
}

.container-320 {
    width: 320px;
    margin: 0 auto;
    padding: 0 10px; /* Adicionando margens para preencher o espaço em branco */
}